<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="./css/style.css" rel="stylesheet">
    <title>Aula Angular</title>
</head>
<body>
    <div ng-app="lista" ng-controller="lista_principal">
        <div class="pagina1">
            <ul>
                <li>Home</li>
                <li>Conteúdo</li>
                <li>Contato</li>
            </ul>
            <div class="card">
                <ul>
                    <li><a href=""><img src="./imagem/navio cruzeiro1.png" alt=""></a></li>
                    <li><a href=""><img src="./imagem/navio tanque1.jpg" alt=""></a></li>
                    <li><a href=""><img src="./imagem/container navio.webp" alt=""></a></li>
                </ul>
        </div>
        <div class="CaixaLista">
        <div class="ElementoLista {{x.Tema}}" ng-repeat="x in Lista_usuarios" ng-click="chama_usuario(x.Nome,x.conteudo,x.Tema)">
            <h1>{{x.Nome}}</h1>
        </div>
        </div>
        <div class="dialog {{Tema_usuario}}" ng-if="usuario_escolhido != '' ">
            <h1>{{usuario_escolhido}}</h1>
            <h3>{{conteudo_dialog}}</h3>
            <button ng-click="Fechar_dialogo()">Fechar dialogo</button>
        </div>

    </div>
    <script src="./JS/lista.js"></script>
    
</body>
</html>